.gif {
    object-fit: contain;
    width: 200px; 
    height: 200px;
}

.figure {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 0px;
}

.figure-img {
    margin-bottom: 0rem;
}

.figure-caption {
    font-size: 70%;
    text-align: center;
}

.card {
    padding-bottom: 15px;
    padding-top: 15px;
}

.col-lg-8 {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.col-lg-3 {
    padding-right: 0px;
    padding-left: 0px;
}

.topic {
    margin-right: 5px;
    margin-bottom: 5px;
}

img {
    margin-left: 18px;
}